[submodule "configuration"]
	path = configuration
	url = git@github.com:yaaaaaaaaing/start2_database.git
	branch = ubuntu
[submodule "secrets"]
	path = secrets
	url = git@github.com:yaaaaaaaaing/start2_secrets.git
	branch = ubuntu
